name: Deploy Node Backend to AWS

on:
  push:
    branches:
      - main
    paths:
      - "Backend/**"  

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd ~/Google-Drive-Clone/Backend
            git pull origin main
            docker compose down
            docker compose up -d --build
